* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(#141e30, #243b55);
  font: 87.5%/1.5em "Open Sans", sans-serif;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  overflow: hidden;
}
#root {
  height: 100%;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  background: rgb(226, 155, 155); 
}
.light .form-wraper{
  background: white;
}
.light .form-name {
  color: black;
}
.light .form-name input:focus {
  border-color: #000;
  box-shadow: 0 0 5px gray;
}
.light .form-name input + label[placeholder]:before {
  color: #898989;
  background-image: linear-gradient(to bottom, white, white);
}
.light #name{
  color: black;
}

.light  #room-select {
  color:black;
  background: white;
  border: 1px solid black;
}
.light #room-select option{
  background: white;
}
.light #room-select:focus{
  box-shadow: 0 0 5px black;
  transition: 0.3s ease-out;
}

  /* BUTTON */
  .light .form-wraper button {
    color: white;
    background: black;
  }
  .light .form-wraper button:hover {
    background: #ff4a55;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ff4a55,
                0 0 25px #ff4a55;
  }
  /*BUTTON*/

  /*Spinner*/
  .light .lds-roller div:after {
    background: white;
    box-shadow: 0 0 5px #fff,
                0 0 25px #fff,
                0 0 50px #fff,
                0 0 100px #fff;
  }
  /*Spinner*/

  /*Light room*/
  .light .chat-wraper {
    background-color: white;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color:black;
  }
  
  .light .chat-header {
    background-color:black;
  }
  .light .onlineMembers-container {
    background: rgb(41, 40, 40);
    color: white;
  }
  .light .chat-input input{
    border-bottom: 1px solid black;
    color: black;
    background-color:transparent;
  }
  .light #btn-send-msg {
    background: transparent url("../img/paper-plane-64_light.png") center center/contain no-repeat;
  }
 .light #btn-send-msg:hover{
    background: transparent url("../img/paper-plane-64_1.png") center center/contain no-repeat;
  }
  .light #emojiBtn{
    background: transparent url("../img/happy-64_light.png") center center/contain no-repeat;
  }
  .light #emojiBtn:hover{
    background: transparent url("../img/happy-64_light_1.png") center center/contain no-repeat;
  }
  /*Light room*/

  /*Light popup*/
  
  .light .modal_content {
    
    background-color: white;
    color: black;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
  }
  .light .modal_content #btn-popup-ok {
    color: white;
    background: black;
    border-radius: 2.5rem;
    border:0;
  }
  
  .light .modal_content #btn-popup-ok:hover {
    background: #ff4a55;
    color: #fff;
    border-radius: 2.5rem;
    box-shadow: 0 0 5px #ff4a55,
                0 0 25px #ff4a55;
  }
  /*Light popup*/

